**/.idea/
/.venv/
/Slides/
/tp1-fundamentos/1.Introduccion-2022.pdf
/tp2-agentes-racionales/tp2-ia-uncuyo.pdf
/tp3-algoritmos-busqueda/code/found_avg.py
/tp3-algoritmos-busqueda/tp3-ia-2025.pdf
/tp4-busquedas-locales/Busqueda-Tabu/
/tp4-busquedas-locales/code/my_hill_climbing.py
/tp5-csp/csp_backtracking_pseudo.txt
/tp5-csp/tp5-ia-2025.pdf
/tp6-qlearning/NetSecGameAgents
/tp6-qlearning/qlearning/gridworld_qlearning.py
/tp6-qlearning/qlearning/interactive_exercises.md
/tp6-qlearning/qlearning/qlearning_presentation.html
/tp6-qlearning/qlearning/student_handout.md
/tp7-ml/.RData
/tp7-ml/.Rhistory
/tp7-ml/tp7B-2025.pdf
/tp7-ml/tp7A-2025.pdf
/tp7-ml/data/kaggle/*
/tp7-ml/notes.txt
