/.venv/
/tp3-algoritmos-busqueda/tp3-ia-2025.pdf
/tp2-agentes-racionales/tp2-ia-uncuyo.pdf
/tp1-fundamentos/1.Introduccion-2022.pdf
/tp3-algoritmos-busqueda/code/found_avg.py
/tp4-busquedas-locales/Busqueda-Tabu/
/Slides/
/tp4-busquedas-locales/code/my_hill_climbing.py
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/ia-uncuyo-2025.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/tp5-ia-2025.pdf
/.idea/vcs.xml
/.idea/workspace.xml
